* {
    font-family: 'Roboto', sans-serif;
}

h1 {
    margin-top: 25px;
    padding-bottom: 5px;
    border-bottom: 5px solid rgb(43, 43, 43);
}

h2,
h3 {
    font-size: 45px;
    padding-bottom: 20px;
}

footer {
    text-align: center;
    padding-top: 20px;
    border-top: 5px solid rgb(43, 43, 43);
}

/* .nameTitle {
    text-align: center;
    width: 500px;
} */

.homeBody {
    margin-top: 100px;
    background-color: lightslategray;
}

.homeLayout {
    text-align: center;
}

.mainCont {
    display: flex;
    text-align: center;
    /* justify-content: center; */
}

.leftCont {
    text-align: center;
    /* border: 2px solid black; */
    padding: 50px 50px 50px 50px;
    background-color: lightslategray;
    width: 20%;
}

.rightCont {
    width: 80%;
    padding: 30px 30px 30px 30px;
    /* border: 2px solid black; */
}

/* .work {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 2px solid black;
} */

.meCont {
    background-color: lightslategray;
}

.avatar-1 {
    width: 200px;
    height: 215px;
    border-radius: 50%;
    border: 5px solid rgb(43, 43, 43);
}

.workCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
}

.workItem {
    /* width: 606px; */
    margin-bottom: 50px;
    /* border: 3px solid rgb(43, 43, 43); */
    /* background-color: rgb(43, 43, 43); */
}

.workItem > p {
    color: black;
}

.workImg {
    margin-top: 10px;
    border: 3px solid rgb(43, 43, 43);
}

.workTitle {
    font-size: 25px;
    font-weight: bold;
    padding-top: 15px;
}

.contactInfo {
    display: flex;
    justify-content: center;
}

.contactInfo > p {
    padding-right: 5px;
}

.dropdown-menu {
    text-align: center;
}

.dropdown-item2 {
    text-align: center;
}

.linkStyle {
    color: rgb(43, 43, 43);
    padding: 5px 5px 5px 5px;
    border: 1px solid black;
    border-radius: 7px;
}

#fastforward {
    color: rgb(43, 43, 43);
}

@media screen and (max-width: 1450px) {

    .leftCont {
        width: 30%;
    }

}

@media screen and (max-width: 1000px) {

    body {
        width: 100%;
    }

    img {
        width: 100%;
    }

   .mainCont {
       display: inline;
   }

   .leftCont {
       width: 100%;
   }

   .rightCont {
       width: 100%;
   }

   .footer {
       width: auto;
   }

   .contactInfo {
       display: flex;
       flex-direction: column;
   }

   .hideMe {
       display: none;
   }

}